<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-R6C5BS9;Initial Catalog=QLKB;Integrated Security=True"/>
    
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"/>-->
  </appSettings>
</configuration>



<!--<!?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-R6C5BS9;Initial Catalog=QLKB;Integrated Security=True"/>
    
    --><!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"/>--><!--
  </appSettings>
</configuration>-->


